body {
    background-color: grey;
    overflow: hidden;
    background-image: url(../images/sky.png);
}

header {
    background-color: darkgrey;
    border-style: outset;
    height: 150px;
    scale: .9;
}

h1 {
    font-size: 64px;
    transform: translate(900px, -95px);
    width: 200px;
    margin: 0px;
}

#NavHeading {
    float: right;
    font-size: 40px;
    transform: translate(-135px, -235px)
}

nav {
    float: right;
    font-size: 20px;
    transform: translate(0px, -175px)
}

#Tlogo {
    padding-top: 15px;
    padding-left: 10px;
}

/*END OF HEADING*/

main {
    background-color: lightgrey;
    height: 750px;
    scale: .9;
    border-style: outset;
    border-color: darkgrey;
}

#homepagemain{
    height: 650px;
}

footer{
    
}

ol{
    column-count: 4;
    font-size: 30px;
    margin: 20px;
    width: 100%;
    transform: translate(0px, -150px)
}

.listp{
    width: 275px;
    height: 700px;
    font-size: 20px;
    text-indent: 30px;
}