header{
    background-color: lightgrey;
    transform: translate(0px, -15px);
    border-radius: 25px;
    outline-style: outset;
}
nav{
    float: right;
    transform: translate(75px, -45px);
}

.headtext{
    transform: translate(10px, 5px)
}

#headsubtext{
    transform: translate(10px, -10px)
}

#headlinktext{
    float: right;
    transform: translate(-170px, -102px);
}

@media (max-width: 700px){
    nav{
        float: left;
        transform: translate(-95px, 35px)
    }
    header{
        height: 152px;
    }

    #headlinktext{
        float: left;
        transform: translate(10px, -20px)
    }
}